<h1>Voilà la page de cet utilisateur </h1>
<p> Son prénom est  "<%= @user.first_name %>" </p>
<h2>Last Name </h2>
<p> <%= @user.last_name %> </p>
<h2>Description </h2>
<p> <%= @user.description %> </p>
<h2>Email </h2>
<p> <%= @user.email %> </p>
<h2>Age </h2>
<p> <%= @user.age %> </p>
